@model AnnonsTjanst.ServiceReference1.Annonser

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.annonsID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.annonsNamn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.beskrivning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.betalningsmetod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bild)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kategori)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pris)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profilID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>
    

</table>